[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nb-black = {git = "git+https://github.com/leifdenby/nb_black/#egg=nb_black"}
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.11"
